@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

:root {
    --white: #fff;
    --black: #000;
    --orange: #FFB084;
    --green: #29A71E;
    --blue: #3675B0;
    --red: #E13535;
}

html{
    font-size: 16px;
}

body{
    font-family: 'Work Sans';
    font-size: .875rem;
    line-height: 1rem;
    color: var(--black);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    padding: 1.75rem 3rem 2rem;
    background: var(--orange);
    border-radius: 20px;
    max-width: 755px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr repeat(2,.8fr);
    gap: .875rem 1.375rem;
}

.box{
    background: var(--white);
    box-shadow: .5rem .5rem 0 var(--black);
    border-radius: 1.25rem;
    padding: 1rem 1.5rem;
    transition: .5s;
}

.box:hover{
    scale: 1.05;
    z-index: 1;
}

.main {
    grid-row: 1/7;
}

.main__title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-align: center;
    margin-bottom: 1rem;
}

.main__photo {
    display: block;
    margin: 0 auto 1rem;
    height: 6.25rem;
}

.main__description {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: .875rem;
    font-size: .75rem;
    line-height: .875rem;
}

.main__description > p {
    grid-column: 1/3;
}

.main__description > p:nth-child(1),
.main__description > p:nth-child(2) {
    grid-column: auto;
}

.bold {
    font-weight: 600;
}

.biography {
    grid-column: 2/4;
    grid-row: 1/3;
}

.subtitle {
    font-weight: 700;
    margin-bottom: .5rem;
}

.goals {
    grid-row: 3/5;
    box-shadow: .5rem .5rem 0 var(--green);
}

.goals__title {
    color: var(--green);
}
    
.list {
    position: relative;
    left: 1rem;
}

.list::before{
    content: "•";
    position: absolute;
    left: -.75rem;
}

.frustrations {
    grid-row: 3/6;
    box-shadow: .5rem .5rem 0 var(--red);
}

.frustrations__title {
    color: var(--red);
}

.dream {
    grid-row: 5/9;
    box-shadow: .5rem .5rem 0 var(--blue);
}

.dream__title {
    color: var(--blue);
}

.link {
    color: var(--black);
}

.link:hover {
    color: var(--black);
}

.quote {
    grid-row: 7/9;
    font-weight: 700;
}

.personality {
    grid-row: 6/9;
}

.personality__text {
    display: inline;
}

@media screen and (max-width: 576px){
    body{
        display: block;
        background: var(--orange);
    }
    .grid {
        display: block;
    }
    .grid > div {
        margin-bottom: .875rem;
    }
}